# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/
jfinal-club.log
jfinal-club.log_2018-01-22.log
jfinal-club.log_2018-01-24.log
jfinal-club.log_2018-02-05.log
jfinal-club.log_2018-02-06.log
target/
#*.xls
#src/main/webapp/files/
